<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" content="/img/m-hnbio-favi.png">
    

    <link rel="shortcut icon" href="/img/footer-logo.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.6/examples/sign-in/signin.css">


    <title>passwordChange</title>
  </head>
  <body class="text-center">
      
    <form class="form-signin" action="/passwordChange/?_method=PUT" method="POST">
      <img class="mb-4" src="/img/footer-logo.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">HNBIO ADMIN</h1>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="pw" name="pw2" class="form-control" placeholder="변경할 비밀번호를 입력해 주세요." required>
      <input type="password" id="pw" name="pw" class="form-control" placeholder="변경할 비밀번호를 재입력해 주세요." required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">확인</button>
      <p class="mt-5 mb-3 text-muted">&copy; HNBIO BBS ADMIN</p>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>

      $('.btn-outline-secondary').click(function() {
        if($('.form-control').val().trim() == '') {
          alert('제목과 본문을 입력하세요.');
          return false;
        }
        if($('#summernote').val().trim() == '') {
          alert('제목과 본문을 입력하세요.');
          return false;
        }
      });

    </script>
  </body>
</html>